@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.font-sub {
  mix-blend-mode: normal;
  opacity: 0.66;
}

.font-desc {
  mix-blend-mode: normal;
  opacity: 0.5;
}
